html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', 'Roboto';
    color: white;
    background-color: #120709;
    display: flex;
    flex-flow: column nowrap;
    margin: 1.1rem;
}

nav {
    position: relative;
    z-index: 5;
}

nav ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: auto;
}

nav ul li {
    float: left;
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

h2 {
    margin-bottom: -0.5rem;
}

header {
    margin-bottom: 1rem;
}

.message-container {
    background-color: #36161c;
}

.message-container h3 {
    margin-top: 0rem;
    margin-bottom: 0;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    background-color: #481d25;
}

.message-container time {
    margin-top: 0rem;
    padding-left: 0.5rem;
    font-size: 0.80rem;
    margin-bottom: -1rem;
}

.message-container time:focus {
    outline: 1rem;
}

.message-container p {
    font-size: 0.85rem;
    margin-left: 0.25rem;
    margin-bottom: -0.005rem;
    margin-top: -0.03125rem;
}

.message-container a {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
}

form {
    display: flex;
    flex-flow: column;

}

#message-username {
    width: 10rem;
}

#message-body {
    padding-bottom:5rem;
}

form button {
    width: 10rem;
}

footer {
    align-self: center;
    margin-top: 0.5rem;
}