<!-- index.ejs -->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <% for (let i = 0; i < messages.length; i++) { %>
            <h3> <%= messages[i].user %> </h3>
            <h5> <%= messages[i].added %> </h5>
            <a href="<%= i %>">Share</a>
            <p> <%= messages[i].text %> </p>
        <% } %>
    </body>
</html>